#firstGuess{
    background-image: url(crystal-green.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

#firstGuess:hover{
    box-shadow: 0 0 10px green, 0 0 10px green;
}

#secondGuess{
    background-image: url(crystal-red.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
#secondGuess:hover{
    box-shadow: 0 0 10px red, 0 0 10px red;
}

#thirdGuess{
    background-image: url(crystal-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
#thirdGuess:hover{
    box-shadow: 0 0 10px cyan, 0 0 10px cyan;
}

#fourthGuess{
    background-image: url(crystal-purple.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
#fourthGuess:hover{
    box-shadow: 0 0 10px purple, 0 0 10px purple;
}

#buttonDiv{
    text-align: center;
}

#heading{
    text-align: center;
    color: aliceblue;
}

#firstBox{
    text-align: center;
    color: aliceblue;
}

#secondBox{
    text-align: center;
    color: aliceblue;
}

#tracker{
    text-align: center;
    color: aliceblue;
}

#guessText{
    text-align: center;
    color: aliceblue;
}

#guessTotal{
    text-align: center;
    color: aliceblue;
}

#gameInfo{
    text-align: center;
    color: aliceblue;
}

body{
    background-image: url(cave.jpg);
}

*{
    font-family: 'Amatic SC', cursive;
}