#firstGuess{
    background-image: url(crystal-green.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

#secondGuess{
    background-image: url(crystal-red.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

#thirdGuess{
    background-image: url(crystal-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

#fourthGuess{
    background-image: url(crystal-purple.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

#buttonDiv{
    text-align: center;
}

#heading{
    text-align: center;
    color: aliceblue;
}

#firstBox{
    text-align: center;
    color: aliceblue;
}

#secondBox{
    text-align: center;
    color: aliceblue;
}

#tracker{
    text-align: center;
    color: aliceblue;
}

#guessText{
    text-align: center;
    color: aliceblue;
}

#guessTotal{
    text-align: center;
    color: aliceblue;
}

#gameInfo{
    text-align: center;
    color: aliceblue;
}

body{
    background-image: url(cave.jpg);
}

*{
    font-family: 'Amatic SC', cursive;
}